.bg-input{
    background-color: #52c3c6;
}
.bt-aceptar{
    background-color: #57F3FF;
    border-color: #16232b;
}
.bt-rechazar{
    border-color: #57F3FF;
    color: #57F3FF;
    background-color: transparent;
}