.bg-input{
    background-color: #feffff;
    padding-top: 3px;
    padding-bottom: 3px;
    color: rgb(87, 85, 85);
    border-radius: 4px;
}
.bt-aceptar{
    background-color: #57F3FF;
    border-color: #16232b;
}
.bt-rechazar{
    border-color: #57F3FF;
    color: #57F3FF;
    background-color: transparent;
}
